<header class="header">
  <h2 class="header_title">HealthyHub</h2>
  <nav>
    <ul class="header_navlist">
      <li class="header_navItem">
        <a
          class="header_navLink"
          routerLinkActive="activeLink"
          routerLink="/signin"
          >SignIn</a
        >
      </li>
      <span> / </span>
      <li class="header_navItem">
        <a
          class="header_navLink"
          routerLinkActive="activeLink"
          routerLink="/signup"
          >SignUp</a
        >
      </li>
    </ul>
  </nav>
</header>
