.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-label {
  cursor: pointer;
  margin-bottom: 5px;
}

.radio-input {
  display: none;
}

.radio-label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.radio-input:checked + .radio-label::before {
  background-color: #007bff;
}
