<div [formGroup]="formGroupControl" class="form-container">
  <div class="input-group">
    <label for="height" class="input-label">Height</label>
    <input
      type="text"
      id="height"
      placeholder="Enter your height"
      class="input-field"
      formControlName="height"
      title="183"
      appFormValidation
      [controlName]="'height'"
      [formGroup]="formGroupControl"
    />
    <span
      *ngIf="formGroupControl.get('height')?.valid"
      class="form_icon_wrapper"
    >
      <app-success-field-icon></app-success-field-icon>
    </span>
    <div class="error_wrapper">
      <app-error-message
        *ngIf="showError('height')"
        [errorMessage]="'You must enter a numeric value for height.'"
      ></app-error-message>
    </div>
  </div>

  <div class="input-group">
    <label for="weight" class="input-label">Weight</label>
    <input
      type="text"
      id="weight"
      placeholder="Enter your weight"
      class="input-field"
      formControlName="weight"
      title="99"
      appFormValidation
      [controlName]="'weight'"
      [formGroup]="formGroupControl"
    />
    <span
      *ngIf="formGroupControl.get('weight')?.valid"
      class="form_icon_wrapper"
    >
      <app-success-field-icon></app-success-field-icon>
    </span>
    <div class="error_wrapper">
      <app-error-message
        *ngIf="showError('weight')"
        [errorMessage]="'You must enter a numeric value for weight.'"
      ></app-error-message>
    </div>
  </div>
</div>
