<div [formGroup]="formGroup" class="form-container">
  <div class="input-group">
    <label for="height" class="input-label">Height</label>
    <input
      type="text"
      id="height"
      placeholder="Enter your height"
      class="input-field"
      [ngClass]="{
        'invalid-input': isInvalid('height'),
        'valid-input': isValid('height')
      }"
      formControlName="height"
      title="183"
    />
  </div>

  <div class="input-group">
    <label for="weight" class="input-label">Weight</label>
    <input
      type="text"
      id="weight"
      placeholder="Enter your weight"
      [ngClass]="{
        'invalid-input': isInvalid('weight'),
        'valid-input': isValid('weight')
      }"
      class="input-field"
      formControlName="weight"
      title="99"
    />
  </div>
</div>
