.form-container {
  gap: 24px;

  display: flex;
  flex-direction: column;
}

.input-label {
  display: block;
  margin-bottom: 12px;
  color: var(--color-primary-white);
  line-height: 1.4;
}

.error_wrapper {
  position: absolute;
  transform: translateY(60%);
}

.input-field {
  max-width: 440px;
  width: 100%;
  padding: 8px 30px 8px 10px;
  gap: 10px;
  outline: none;
  font-weight: 400;
  line-height: 1.4;
  border-radius: 12px;

  align-items: flex-start;
  color: var(--color-primary-grey, #b6b6b6);
  display: inline-flex;
  flex-direction: column;
  border: 1px solid var(--color-primary-green-lite);
  background: var(--color-primary-black-2);
}

/* success */
.form_icon_wrapper {
  position: absolute;
  right: 10px;
  transform: translateY(55%);
}

/* error */
.invalid-input {
  border: 1px solid red;
}
.valid-input {
  border: 1px solid green;
}
/*  */
.input-field:focus {
  outline: none;
  border-color: #007bff;
}
@media screen and (min-width: 834px) {
}

@media screen and (min-width: 1440px) {
  .input-field {
    width: 212px;
  }
}
