<div class="goal-section">
  <div class="goal-header">
    <h2>Your goal</h2>
    <p>Choose a goal so that we can help you effectively</p>
  </div>
  <div [formGroup]="formGroup" class="goal-options">
    <input
      type="radio"
      formControlName="goal"
      id="lose-fat"
      value="Lose Fat"
      class="goal-radio"
    />
    <label for="lose-fat" class="goal-label">Lose Fat</label>

    <input
      type="radio"
      formControlName="goal"
      id="maintain"
      value="Maintain"
      class="goal-radio"
    />
    <label for="maintain" class="goal-label">Maintain</label>

    <input
      type="radio"
      formControlName="goal"
      id="gain-muscle"
      value="Gain Muscle"
      class="goal-radio"
    />
    <label for="gain-muscle" class="goal-label">Gain Muscle</label>
  </div>
</div>
