<section class="signIn_container">
  <app-signup-img [pageImage]="pageImage"></app-signup-img>
  <div class="signIn_container_form">
    <h2 class="signIn_title">Sign in</h2>

    <p class="signIn_subtitle">You need to login to use the service</p>
    <form class="signIn_form" [formGroup]="signInForm" (submit)="onSignIn()">
      <div class="form_wrapper">
        <div class="signIn_wrapper_inputs">
          <app-input-group
            [pageIs]="'SignIn'"
            [formGroup]="signInForm"
          ></app-input-group>
        </div>
      </div>
      <button class="signIn_form_btn" type="submit">Sign In</button>
    </form>
    <app-subtitle-link [activePage]="'signin'"></app-subtitle-link>
  </div>
</section>
