<form [formGroup]="signUpForm" class="signUp_form">
  <div class="form_wrapper">
    <app-form-elements
      [signUpForm]="signUpForm"
      [currentStep]="currentStep"
    ></app-form-elements>

    <div class="form_btns_container">
      <button
        [class.from_btn_error]="!signUpForm.valid"
        class="signUp_form_btn confirm"
        type="button"
        (click)="onSignUp()"
      >
        Next
      </button>
      <button
        class="signUp_form_btn back"
        type="button"
        (click)="onBack()"
        *ngIf="currentStep > 1"
      >
        Back
      </button>
    </div>
  </div>
</form>
