<form [formGroup]="signUpForm" class="signUp_form">
  <div class="form_wrapper">
    <app-form-elements [currentStep]="currentStep"></app-form-elements>
    <div class="error-wrapper" *ngIf="isInvalid('password') && passwordControl">
      <app-error-message
        *ngIf="passwordControl.errors?.['required']"
        [errorMessage]="'Password is required'"
      ></app-error-message>
      <app-error-message
        *ngIf="passwordControl.errors?.['passwordStrength']"
        [errorMessage]="
          'Your password must have lower case, upper case and numeric characters.'
        "
      ></app-error-message>
    </div>

    <div class="form_btns_container">
      <button
        [disabled]="!signUpForm.valid"
        [class.from_btn_error]="!signUpForm.valid"
        class="signUp_form_btn confirm"
        type="button"
        (click)="onSignUp()"
      >
        Next
      </button>
      <button
        class="signUp_form_btn back"
        type="button"
        (click)="onBack()"
        *ngIf="currentStep > 1"
      >
        Back
      </button>
    </div>
  </div>
</form>
