.signUp_container {
  width: 100%;
  padding: 24px 10px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signUp_container_form {
  max-width: 440px;
}

.signUp_form {
  margin-bottom: 120px;
  width: 100%;
}

.form_btns_container {
  gap: 12px;

  display: flex;
  flex-direction: column;
}
/* = */

@media screen and (min-width: 834px) {
  .signUp_container {
    padding: 40px 26px 60px;
  }
  .signUp_form {
    margin-bottom: 206px;
  }
}
@media screen and (min-width: 1440px) {
  .signUp_container {
    padding: 40px;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .signUp_form {
    width: 212px;
    margin-bottom: 168px;
  }
  .signUp_form_btn {
    margin: 0px;
  }
}
