.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-input:focus {
  outline: none;
  border-color: #007bff;
}

.error-input {
  border-color: red;
}

::placeholder {
  color: #aaa;
}

.hidden-input {
  display: none;
}
