<div [formGroup]="formGroup" class="form-container">
  <div class="input-group">
    <label for="height" class="input-label">Height</label>
    <input
      type="text"
      id="height"
      placeholder="Enter your height"
      class="input-field"
      formControlName="height"
    />
  </div>

  <div class="input-group">
    <label for="weight" class="input-label">Weight</label>
    <input
      type="text"
      id="weight"
      placeholder="Enter your weight"
      class="input-field"
      formControlName="weight"
    />
  </div>
</div>
