<div [formGroup]="formGroupControl" class="input-container">
  <div class="form_wrapper_input">
    <input
      id="name"
      class="form-input"
      type="text"
      title="Example: Ivan"
      placeholder="Name"
      *ngIf="pageIs === 'SignUp'"
      formControlName="name"
      appFormValidation
      [controlName]="'name'"
      [formGroup]="formGroupControl"
    />
    <span *ngIf="formGroupControl.get('name')?.valid" class="form_icon_wrapper">
      <app-success-field-icon></app-success-field-icon>
    </span>
  </div>
  <div class="form_wrapper_input">
    <input
      id="email"
      class="form-input"
      type="email"
      placeholder="E-mail"
      title="Example: something@icloud.com"
      formControlName="email"
      appFormValidation
      [controlName]="'email'"
      [formGroup]="formGroupControl"
    />
    <span
      *ngIf="formGroupControl.get('email')?.valid"
      class="form_icon_wrapper"
    >
      <app-success-field-icon></app-success-field-icon>
    </span>
  </div>
  <div class="form_wrapper_password">
    <input
      id="password"
      class="form-input"
      [type]="getInputType()"
      placeholder="Password"
      title="Example: Dev123"
      formControlName="password"
      appFormValidation
      [controlName]="'password'"
      [formGroup]="formGroupControl"
    />
    <span *ngIf="passwordControl?.valid" class="form_icon_wrapper">
      <app-success-field-icon></app-success-field-icon>
    </span>
    <span *ngIf="passwordControl?.invalid" class="form_icon_wrapper">
      <app-show-password-btn
        (onShow)="onPasswordShow()"
        [isShowPassword]="isShowPassword"
      ></app-show-password-btn>
    </span>
  </div>
  <div
    [ngClass]="{
      'error-wrapper-signup': pageIs === 'SignUp',
      'error-wrapper-signin': pageIs === 'SignIn'
    }"
    *ngIf="isInvalid('password') && passwordControl"
  >
    <app-error-message
      *ngIf="passwordControl.errors?.['required']"
      [errorMessage]="'Password is required'"
    ></app-error-message>
    <app-error-message
      *ngIf="passwordControl.errors?.['passwordStrength']"
      [errorMessage]="
        'Your password must have lower case, upper case and numeric characters.'
      "
    ></app-error-message>
  </div>
</div>
