<div [formGroup]="formGroup" class="form-container">
  <p class="form-label">Gender</p>
  <div class="gender-inputs">
    <label for="male" class="radio-label">
      <input
        type="radio"
        class="radio-input"
        id="male"
        formControlName="gender"
        value="Male"
      />
      <div class="radio-btn"></div>

      Male</label
    >

    <label for="female" class="radio-label">
      <input
        type="radio"
        class="radio-input"
        id="female"
        formControlName="gender"
        value="Female"
      />
      <div class="radio-btn"></div>

      Female</label
    >
  </div>

  <div class="input-wrapper">
    <label for="dateOfBirth" class="form-label">Your age</label>
    <input
      type="text"
      class="text-input"
      id="dateOfBirth"
      title="29"
      placeholder="Enter your age"
      formControlName="dateOfBirth"
      appFormValidation
      [controlName]="'dateOfBirth'"
      [formGroup]="formGroup"
    />
    <span *ngIf="formGroup.get('dateOfBirth')?.valid" class="form_icon_wrapper">
      <app-success-field-icon></app-success-field-icon>
    </span>
    <div class="error-wrapper">
      <app-error-message
        *ngIf="formGroup.get('dateOfBirth')?.touched &&formGroup.get('dateOfBirth')?.errors?.['required']"
        [errorMessage]="'Date of Birth is required'"
      ></app-error-message>

      <app-error-message
        *ngIf="
          formGroup.get('dateOfBirth')?.dirty &&
          formGroup.get('dateOfBirth')?.invalid &&
          formGroup.get('dateOfBirth')?.hasError('invalidAge')
        "
        [errorMessage]="'You must be at least 16 years old!'"
      ></app-error-message>
    </div>
  </div>
</div>
