<div [formGroup]="formGroup" class="form-container">
  <p class="form-label">Gender</p>
  <div class="gender-inputs">
    <label for="male" class="radio-label">
      <input
        type="radio"
        class="radio-input"
        id="male"
        formControlName="gender"
        value="Male"
      />
      <div class="radio-btn"></div>

      Male</label
    >

    <label for="female" class="radio-label">
      <input
        type="radio"
        class="radio-input"
        id="female"
        formControlName="gender"
        value="Female"
      />
      <div class="radio-btn"></div>

      Female</label
    >
  </div>

  <div class="input-wrapper">
    <label for="dateOfBirth" class="form-label">Your age</label>
    <input
      type="text"
      class="text-input"
      id="dateOfBirth"
      title="29"
      placeholder="Enter your age"
      formControlName="dateOfBirth"
      [ngClass]="{
        'invalid-input': isInvalid('dateOfBirth'),
        'valid-input': isValid('dateOfBirth')
      }"
    />
    <div class="error-wrapper">
      <app-error-message
        *ngIf="isInvalid('dateOfBirth')"
        [errorMessage]="'Date of birth is required !'"
      ></app-error-message>
    </div>
  </div>
</div>
