.form-container {
}
.gender-inputs {
  margin-bottom: 24px;
  gap: 24px;

  display: flex;
}

.form-label {
  display: block;
  margin-bottom: 12px;
  line-height: 1.4;

  color: var(--color-primary-white);
}

.radio-input {
  width: 12px;
  height: 12px;
  border-radius: 12px;

  border: 1px solid var(--color-primary-grey);
  position: relative;
}

.radio-label {
  gap: 1rem;

  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-btn {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 1px solid var(--color-primary-grey);

  background: var(--color-primary-black-2);
  cursor: pointer;
  position: absolute;
}

.radio-btn::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  z-index: 999;

  background-color: var(--color-primary-black-2);
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out 0s;
}

.radio-input:checked + .radio-btn::before {
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--color-primary-green-lite);
}

.text-input {
  width: 100%;
  display: inline-flex;
  padding: 8px 30px 8px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  color: var(--color-primary-grey, #b6b6b6);
  font-weight: 400;
  line-height: 1.4;
  outline: none;
  border-radius: 12px;
  border: 1px solid var(--color-primary-green-lite);
  background: var(--color-primary-black-2);
}
.textInput-wrapper {
  width: 300px;

  position: relative;
}
.input-wrapper {
  position: relative;
}
.text-input:focus {
  outline: none;
  border-color: #007bff;
}
.error-wrapper {
  top: 80px;

  position: absolute;
}
/*  */
.invalid-input {
  border: 1px solid red;
}
.valid-input {
  border: 1px solid green;
}
/*  */

@media screen and (min-width: 834px) {
  .textInput-wrapper {
    width: 380px;
  }
}
@media screen and (min-width: 1440) {
  .gender-inputs {
    gap: 24px;

    flex-direction: column;
  }
}
