<div class="form-element-wrapper">
  <div class="signUp_wrapper_component" *ngIf="currentStep === 1">
    <app-input-group
      [formGroup]="signUpForm.controls.personalInfo"
    ></app-input-group>
  </div>
  <div class="signUp_wrapper_component" *ngIf="currentStep === 2">
    <app-your-goal [formGroup]="signUpForm.controls.goalInfo"></app-your-goal>
  </div>
  <div class="signUp_wrapper_component" *ngIf="currentStep === 3">
    <app-select-gender
      [formGroup]="signUpForm.controls.genderInfo"
    ></app-select-gender>
  </div>
  <div class="signUp_wrapper_component" *ngIf="currentStep === 4">
    <app-body-parameters
      [formGroup]="signUpForm.controls.parametersInfo"
    ></app-body-parameters>
  </div>
  <div class="signUp_wrapper_component" *ngIf="currentStep === 5">
    <app-your-activity
      [formGroup]="signUpForm.controls.activityInfo"
    ></app-your-activity>
  </div>
</div>
