<ul [formGroup]="formGroupControl" class="form-goal-options">
  <li class="options-item">
    <label for="lose-fat" class="form-goal-label">
      <input
        type="radio"
        formControlName="goal"
        id="lose-fat"
        value="Lose Fat"
        class="form-goal-radio"
      />
      <div class="radio-btn"></div>
      Lose Fat</label
    >
  </li>
  <li class="options-item">
    <label for="maintain" class="form-goal-label">
      <input
        type="radio"
        formControlName="goal"
        id="maintain"
        value="Maintain"
        class="form-goal-radio"
      />
      <div class="radio-btn"></div>
      Maintain</label
    >
  </li>
  <li class="options-item">
    <label for="gain-muscle" class="form-goal-label">
      <input
        type="radio"
        formControlName="goal"
        id="gain-muscle"
        value="Gain Muscle"
        class="form-goal-radio"
      />
      <div class="radio-btn"></div>
      Gain Muscle</label
    >
  </li>
</ul>
